In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib 
from matplotlib.ticker import MultipleLocator, FormatStrFormatter
from bokeh.plotting import *
from bokeh.models import OpenURL, Circle, HoverTool, PanTool, BoxZoomTool, ResetTool, SaveTool, TapTool, WheelZoomTool

In [3]:
from PyAstronomy import pyasl
nexa = pyasl.NasaExoplanetArchive()

In [4]:
nexa.data['st_teff']

array([ 6282.,  4997.,  4997., ...,  5971.,  5723.,  3712.])

In [5]:
nexa.availableColumns()

Column        Description                          Unit
--------------------------------------------------------
pl_hostname   Name of host star
pl_name       Name of the planet
pl_letter     Planet letter (e.g., b, c, d, etc.)
ra            Right ascension                      deg
dec           Declination                          deg
pl_orbper     Planetary orbital period             d
pl_massj      Planetary mass                       MJ
pl_radj       Planetary radius                     RJ
pl_trandep    Central depth of transit             %
pl_trandur    Transit duration                     d
pl_tranmid    Transit midpoint                     BJD
pl_orbsmax    Semi-major-axis                      AU
pl_orbincl    Orbital inclination of planet        deg
st_rad        Stellar radii                        Solar
st_dist       Distance to star                     pc
st_mass       Stellar mass                         Solar
st_teff       Effective temperature of star        K
st_vsini      Stellar vsin(i)                      km/s
st_logg       Stellar surface gravity              cm/s**2
st_acts       Stellar S-Index
st_vj         Stellar V-band brightness            mag

['pl_hostname',
 'pl_name',
 'pl_letter',
 'ra',
 'dec',
 'pl_orbper',
 'pl_massj',
 'pl_radj',
 'pl_trandep',
 'pl_trandur',
 'pl_tranmid',
 'pl_orbsmax',
 'pl_orbincl',
 'st_rad',
 'st_dist',
 'st_mass',
 'st_teff',
 'st_vsini',
 'st_logg',
 'st_acts',
 'st_vj']

In [6]:
name = nexa.data['pl_hostname'].astype(str)

mass = nexa.data['pl_massj'].astype(float)

rad = nexa.data['pl_radj'].astype(float)
st_rad = nexa.data['st_rad'].astype(float)



per = nexa.data['pl_orbper'].astype(float)

teff = nexa.data['st_teff'].astype(float)

letter = nexa.data['pl_letter'].astype(str)

unq = np.unique(name, return_counts=True)[1] > 1
mask = [n in np.unique(name)[unq] for n in name]

In [7]:
params = [name[mask], mass[mask], rad[mask], per[mask], teff[mask], st_rad[mask], letter[mask]]
param_names = ['Name', 'Mass', 'Radius', 'Period', 'StTeff', 'StRadius', 'Letter']

df = pd.DataFrame()
for param, param_name in zip(params, param_names):
    df[param_name] = param

In [8]:
df.to_csv('multiples.csv', index=False)

In [9]:
df.dropna(axis=0, subset=['Radius']).reset_index(drop=True)

             Name     Mass  Radius      Period   StTeff  StRadius Letter
0      Kepler-168      NaN   0.130    4.425391  6282.00      1.11      b
1      Kepler-169      NaN   0.101    3.250619  4997.00      0.76      b
2      Kepler-169      NaN   0.108    6.195469  4997.00      0.76      c
3      Kepler-169      NaN   0.112    8.348125  4997.00      0.76      d
4      Kepler-169      NaN   0.230   87.090195  4997.00      0.76      f
5      Kepler-170      NaN   0.285    7.930592  5679.00      1.03      b
6      Kepler-170      NaN   0.255   16.665863  5679.00      1.03      c
7      Kepler-171      NaN   0.228   11.463462  5642.00      0.84      c
8      Kepler-171      NaN   0.169   39.595519  5642.00      0.84      d
9      Kepler-172      NaN   0.210    2.940309  5526.00      1.08      b
10     Kepler-172      NaN   0.255    6.388996  5526.00      1.08      c
11     Kepler-172      NaN   0.246   35.118736  5526.00      1.08      e
12     Kepler-173      NaN   0.115    4.263742  6031.00      0.95      b
13     Kepler-173      NaN   0.217    8.005777  6031.00      0.95      c
14     Kepler-174      NaN   0.133   44.000529  4880.00      0.62      c
15     Kepler-174      NaN   0.195  247.353730  4880.00      0.62      d
16     Kepler-175      NaN   0.228   11.903515  6064.00      1.01      b
17     Kepler-176      NaN   0.128    5.433074  5232.00      0.89      b
18     Kepler-176      NaN   0.232   12.759712  5232.00      0.89      c
19     Kepler-176      NaN   0.224   25.751974  5232.00      0.89      d
20     Kepler-177  0.02400   0.633   49.412000  5942.00      1.07      c
21     Kepler-178      NaN   0.259    9.576694  5676.00      1.07      b
22     Kepler-178      NaN   0.257   20.552802  5676.00      1.07      c
23     Kepler-179      NaN   0.146    2.735926  5302.00      0.76      b
24     Kepler-179      NaN   0.178    6.400130  5302.00      0.76      c
25     Kepler-180      NaN   0.134   13.817124  5731.00      1.06      b
26     Kepler-180      NaN   0.269   41.885775  5731.00      1.06      c
27     Kepler-181      NaN   0.113    3.137873  5333.00      0.75      b
28     Kepler-181      NaN   0.178    4.302149  5333.00      0.75      c
29     Kepler-182      NaN   0.230    9.825792  6250.00      1.15      b
...           ...      ...     ...         ...      ...       ...    ...
1187   Kepler-138  0.00021   0.047   10.312600  3841.00      0.44      b
1188    HIP 41378      NaN   0.492  131.000000  6199.00      1.40      e
1189    HIP 41378      NaN   0.910  324.000000  6199.00      1.40      f
1190        K2-58      NaN   0.239    7.052540  5413.00      0.86      b
1191        K2-58      NaN   0.145    2.537260  5413.00      0.86      c
1192        K2-58      NaN   0.153   22.882700  5413.00      0.86      d
1193        K2-59      NaN   0.215   20.692100  5055.00      0.73      b
1194        K2-59      NaN   0.205   11.295400  5055.00      0.73      c
1195        K2-62      NaN   0.191    6.672020  4880.00      0.73      b
1196        K2-62      NaN   0.191   16.196600  4880.00      0.73      c
1197        K2-72      NaN   0.096    5.577212  3360.47      0.33      b
1198        K2-72      NaN   0.103   15.189034  3360.47      0.33      c
1199        K2-72      NaN   0.090    7.760178  3360.47      0.33      d
1200        K2-72      NaN   0.115   24.158868  3360.47      0.33      e
1201        K2-75      NaN   0.238    7.814200  5995.00      1.56      b
1202        K2-75      NaN   0.247   18.311000  5995.00      1.56      c
1203        K2-80      NaN   0.179   19.091800  5441.00      0.87      b
1204        K2-80      NaN   0.131    5.605000  5441.00      0.87      c
1205        K2-83      NaN   0.111    2.746970  3910.00      0.42      b
1206        K2-83      NaN   0.132    9.997670  3910.00      0.42      c
1207        K2-84      NaN   0.215    6.421500  5652.00      0.93      b
1208        K2-84      NaN   0.181   27.860000  5652.00      0.93      c
1209        K2-90      NaN   0.226   13.734907  4421.98      0.63      b
1210        K2-90      NaN   0.116    2.900706  4421.98      0.63      c
1211      HD 3167  0.01579   0.152    0.959641  5261.00      0.86      b
1212      HD 3167  0.03083   0.269   29.845400  5261.00      0.86      c
1213  Kepler-1388      NaN   0.255   20.956816  4098.00      0.61      d
1214  Kepler-1642      NaN   0.237    6.651380  5355.00      0.84      c
1215   Kepler-732      NaN   0.194    9.467814  3631.00      0.46      b
1216    Kepler-48  0.02500   0.182   42.896100  5194.00      0.89      d

[1217 rows x 7 columns]

In [10]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df['PeriodRatio'] = 1
unique_names = df.Name.unique()
for unq in tqdm(unique_names):
    d = df[df.Name == unq]
    df.PeriodRatio[df.Name == unq] = np.copy(d.Period.astype(float)/d.Period.min().astype(float))
df['StarInt'] = 0
for idx, n in enumerate(tqdm(unique_names)):
    df.StarInt[df.Name == n] = idx

In [ ]:
def testplot(Periods, YPositions, star_radius, **kwargs):
    plt.scatter(np.zeros(len(YPositions)),YPositions, s=star_radius)
    #plt.scatter(Periods,YPositions, **kwargs)

In [ ]:
Periods = df.PeriodRatio
YPositions = df.StarInt[np.argsort(np.asarray(df.Teff))]

testplot(Periods, YPositions, df.StRad, s=1)

In [ ]:
plt.scatter(df.PeriodRatio,df.StarInt[np.argsort(np.asarray(df.Teff))],s=1)
plt.xlim(0,5)

In [ ]:
df.keys()